/* CUSTOM STORY STYLE */
body
	font-family $sans
	background-color $off-white

main
	overflow hidden

// #credits

section
	padding 2rem 1rem

#story
	margin-top 6rem

#method
	strong
		font-family $sans-display
	p
		set-type-size(root, true)