/* CUSTOM STORY STYLE */
body
	font-family $sans
	background-color $bg

main
	padding 0 1rem

	section
		margin 4rem auto

figure
	max-width 560px
	min-height 320px
	margin 0 auto
	position relative
	
	figcaption
		margin 0 auto
		min-height 6rem
		padding-top 3rem
		set-type-size(x-small, false)
		line-height 1.4
		visibility hidden
		+mq('bp-5')
			set-type-size(small, true)
			height 4rem
			padding-top 0.5rem
		&.is-visible
			visibility visible

	video
		background-color $yellow
		display block
		margin 0 auto
		cursor pointer
		&:hover
			+mq('bp-5')
				& ~ .button--pause
					opacity 0.33

	.button--play, .button--pause
		pointer-events none
		position absolute
		top calc(50% - 3rem)
		left 50%
		width 20%
		height 20%
		background transparent
		line-height 1
		transform translate(-50%, -50%)
		+mq('bp-5')
			// top calc(50% - 3rem)
		&.is-hidden
			hidden()

		svg
			display block
			width 100%
			height 100%
			polygon, circle, line
				fill $fg
				stroke $bg
			polygon
				fill $bg
				stroke-width 1px
			circle
				stroke none
				stroke-width 1px
	
	.button--pause
		opacity 0

.figure__options
	display flex
	position absolute
	right 0
	bottom 0
	transform translate(0, -3.5rem)
	+mq('bp-5')
		flex-direction column
		bottom 4rem
		transform translate(125%, -2rem)
	button
		background-color $fg
		color $bg
		text-transform uppercase
		font-weight 600
		width 2rem
		height 2rem
		border-radius 50%
		set-type-size(medium, false)
		font-family $sans-display
		line-height 1
		opacity 0.5
		margin-right 0.5rem
		&:hover
			opacity 0.75
		&.is-on
			opacity 1
		&:last-of-type
			margin-right 0
			+mq('bp-5')
				margin-bottom 0
				margin-right 0
		+mq('bp-5')
			margin-bottom 0.5rem
			width 3rem
			height 3rem

	svg
		width 1rem
		height 1rem
		display inline-block
		vertical-align middle
		line-height 1
		transform translateY(-0.075em)
		+mq('bp-5')
			width 1.5rem
			height 1.5rem

	polygon
		fill $bg
	path
		stroke $bg
		fill transparent

.figure__warning
	margin 0
	position absolute
	top 25%
	left 50%
	transform translate(-50%, -50%)
	text-align center
	width 12rem
	set-type-size(small, false)
	line-height 1
	text-transform uppercase
	font-weight 600
	letter-spacing 0.02em
	color $fg
	svg
		vertical-align middle
		height 1.25em
		transform translateY(-0.25em)
		path 
			stroke-width 2px

figure time
	margin 0
	position absolute
	bottom 0
	right 0.5rem
	text-align right
	set-type-size(small, false)
	line-height 1
	text-transform uppercase
	font-family $mono
	font-weight 600
	color $fg
	opacity 0.67
	bottom 6rem
	transform translateY(-0.5rem)

#intro
	margin-top 8rem
	// max-width 50rem
	.prose
		// max-width 100%
	p 
		set-type-size(medium, true)
		+mq('bp-3')
			set-type-size(x-large, true)
			// text-align justify

#takeaways, #method
	strong
		font-family $sans-display
	ul
		padding 0 1rem

// #method
// 	p
// 		set-type-size(root, true)

#takeaways li
	list-style-type disc
	set-type-size(root, true)
	+mq('bp-3')
		set-type-size(medium, true)
	margin-bottom 0.5rem


.prose
	max-width $max-video-width
	padding 0